#startmenus {
	position: fixed;
	bottom: 40px;
	left: 0;
	z-index:1000;
	height: 450px;
}
#startmenus .panel-title img {
	width: 80px;
	border: 4px solid rgba(255, 255, 255, 0.6);
	position: absolute;
	right: 55px;
}

#startmenus .list-group {
	float: left;
	height: 441px;
	overflow: auto;
	width: 250px;
	background: #fff;
	margin: 5px;
	padding:3px;
	margin-top:5px;
}
#startmenus .list-group-item,.list-style {
	padding: 2px;
	margin-bottom:3px;
	width:100%;
	text-align:left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
}

#startmenus .list-group-item img,.list-style img {
	margin: 1px 6px 0 1px;
	vertical-align:top;
}

#startmenus .list-group-item:hover,#startmenus .list-group-item:active,.list-style:hover,.list-style:active,.list-style:focus {
	background: -moz-linear-gradient(top, #ddecfd, #c2dcfd);
	background: -webkit-linear-gradient(top, #ddecfd, #c2dcfd);
	background: linear-gradient(top, #ddecfd, #c2dcfd);
	background-color: #ddecfd;
	border-color: #7da2ce;
	text-decoration: none;
}
#startmenus .list-group img {
	height:16px;
}
#startmenus .list-group hr {
	height: 0px;
	width: calc(100% - 60px);
	float: right;
	position: relative;
	margin: 10px 5px;
}
#startmenus .folder-item button {
	padding-left:10px;
}
#startmenus div.username {
	text-align: center;
	color: white;
	font-size: 18pt;
	font-weight: 900;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.quickstart {
	width: 185px;
	padding: 5px 5px 0px;
	height: 100%;
}
.quickstart button {
	width: 100%;
	text-align: left;
	font-size: 12px;
	padding: 7px;
	border-radius: 5px;
	border: none;
	background-color:transparent;
	margin-bottom:5px;
}

.quickstart button:hover {
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.79) inset;
	background: rgba(255, 255, 255, 0.49);
}

.quickstart button:active {
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3) inset;
	background: rgba(255, 255, 255, 0.3);
}