@import url('desktop.css');
@import url('elements.css');
@import url('loader.css');
@import url('startmenu.css');
@import url('window.css');

*,*:hover,*:active {
	box-sizing: border-box;
	line-height:1.4;
	font-size:inherit;
}
body:not(.mobile) {
	font-size:11px;
}
*:not(input,textarea) {
	cursor: url("/cursors/Normal Select.cur"),normal !important;
}

body {
	margin:0;
}

html {
	height:100%;
	overflow:hidden;
	background-image: url('/images/wall2.png');
	background-position: center center;
	background-color: #7092be;
	background-repeat: no-repeat;
}

hr {
	margin: 5px;
	border-color: white;
}

body:not(.mobile) .mobileonly {display:none}
body:not(.mobile) .mobilemenu {display:none}
body.mobile .desktoponly {display:none}
body.mobile .desktopmenu {display:none}

.window,.taskbar,#startmenus,#info {
	background: lightgray;
}

.pull-right {float:right;}
.pull-left {float: left}

.text-left {text-align:left}
.text-center {text-align:center}
.text-right {text-align:right}

.hide {display:none}


.overflow {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:1000;
	display:none;
}